@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

@font-face {
    font-family: Agrandir-Regular;
    src: url('../fonts/Agrandir-Regular.otf');
}

@font-face {
    font-family: Agrandir-Bold;
    src: url('../fonts/Agrandir-TextBold.otf');
}

@font-face {
    font-family: SF-Light;
    src: url('../fonts/SF-Pro-Display-Light.otf');
}

@font-face {
    font-family: SF-Regular;
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
    font-family: SF-SemiBold;
    src: url('../fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
    font-family: SF-Bold;
    src: url('../fonts/SFPRODISPLAYBOLD.OTF');
}

@font-face {
    font-family: SF-Medium;
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF');
}

body{
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.header-title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

@media screen and (max-width:420px) {
    nav .navbar-nav {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 80px;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #ffffff2a;
        transform: translateX(100%);
        transition: all 0.3s ease;
    }

    nav .show .navbar-nav {
        transform: translateX(0);
    }
}

.navbar {
    box-shadow: none;
    z-index: 1001;
}

.navbar-brand {
    font-family: Agrandir-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 33.0667px;
    line-height: 43px;
    background: linear-gradient(95.54deg, #BA85D3 15.44%, #582C6C 84.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 30px;
    margin-top: 20px !important;
}

.nav-item a {
    font-family: SF-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130px;
    color: #fff;
    transition: all 0.5s;
}

.nav-item a:hover {
    transform: scale(1.2);
    color: #fefefe;
}

.navbar-nav li a.home {
    font-weight: 600;
    color: #fefefe;
}

.timeline {
    max-width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 0.1px 7fr;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
}

.timeline-component {
    margin: 0 20px 20px 20px;
    min-height: 230px;
}

.timeline-component-bg {
    display: block;
    padding: 1.5em;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: -20px !important;
}

.timeline-component-bg .timeline-image {
    width: 180px;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
}

.timeline-component-bg .timeline-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.timeline-content {
    width: 100%;
}

.timeline-date {
    text-align: right;
    font-size: 10px;
    line-height: 2;
    margin-left: -30px !important;
}

.timeline-middle {
    position: relative;
    background: #54b4d3;
}

.timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #54b4d3;
    border-radius: 50%;
}

.timeline-title {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.timeline-paragraph {
    line-height: 1.7;
    font-size: 12px;
}

.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 50.7128px;
    line-height: 66px;
    background: linear-gradient(95.54deg, #BA85D3 15.44%, #582C6C 84.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-email {
    font-style: normal;
    font-weight: 700;
    font-size: 20.6667px;
    line-height: 25px;
    /* identical to box height */
    color: #9A979B;
}

.footer-number {
    font-style: normal;
    font-weight: 700;
    font-size: 20.6667px;
    line-height: 25px;
    /* identical to box height */
    color: #9A979B;
}

.footer-sosmed a {
    font-style: normal;
    font-weight: 700;
    font-size: 21.2737px;
    line-height: 28px;
    color: #8F8F8F;
}

.buttonText {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-transform: none;
    /* identical to box height */
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width:992px) {

    Edit Header and Navbar .navbar {
        box-shadow: none;
    }

    .navbar-brand {
        font-family: Agrandir-Bold;
        font-style: normal;
        font-weight: 700;
        font-size: 33.0667px;
        line-height: 43px;
        background: linear-gradient(95.54deg, #BA85D3 15.44%, #582C6C 84.17%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-left: 60px;
        margin-top: 5px !important;
    }

    .nav-item a {
        margin-left: 80px;
        font-family: SF-Regular;
        font-style: normal;
        font-weight: 400;
        font-size: 19.2889px;
        line-height: 23px;
        color: #fff;
    }

    .navbar-nav li a.home {
        font-weight: 500;
        color: #fefefe;
    }

    .timeline {
        max-width: 100%;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 0.1px 7fr;
        font-family: 'Fira Sans', sans-serif;
        color: #fff;
    }

    .timeline-component {
        margin: 0 20px 20px 20px;
        min-height: 230px;
    }

    .timeline-component-bg {
        display: flex;
        padding: 1.5em;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .timeline-component-bg .timeline-image {
        width: 300px;
        height: 200px;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin-left: 10%;
    }
    
    .timeline-component-bg .timeline-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .timeline-content {
        width: 70%;
    }

    .timeline-date {
        text-align: right;
        font-size: 13px;
        line-height: 2;
    }

    .timeline-middle {
        position: relative;
        background: #54b4d3;
    }

    .timeline-point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background: #54b4d3;
        border-radius: 50%;
    }

    .timeline-title {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: bold;
    }

    .timeline-paragraph {
        line-height: 1.5;
    }

    .footer-title {
        font-style: normal;
        font-weight: 700;
        font-size: 50.7128px;
        line-height: 66px;
        background: linear-gradient(95.54deg, #BA85D3 15.44%, #582C6C 84.17%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .footer-email {
        font-style: normal;
        font-weight: 700;
        font-size: 20.6667px;
        line-height: 25px;
        /* identical to box height */
        color: #9A979B;
    }

    .footer-number {
        font-style: normal;
        font-weight: 700;
        font-size: 20.6667px;
        line-height: 25px;
        /* identical to box height */
        color: #9A979B;
    }

    .footer-sosmed a {
        font-style: normal;
        font-weight: 700;
        font-size: 21.2737px;
        line-height: 28px;
        color: #8F8F8F;
    }

    .buttonText {
        font-style: normal;
        font-weight: 600;
        font-size: 24.6304px;
        text-transform: none;
        /* identical to box height */
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
    }
}